
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
            list-style-type: none;
            color:white;
        }
        h1{
            font-family: 'Poppins-Medium', sans-serif;
            font-weight: bolder;
        }
        p{
            font-family: 'Roboto', sans-serif;
        }
        body{
            background-color: black;
        }
        .mainpage{
            width:100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.6)) , url(netflix1.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        nav{
            width:100%;
            height: 70px;
        } 
        nav ul{
            float:right;
            padding-right:20px;
        }
        nav ul li{
            display: inline-block;
            line-height: 100px;
            padding-inline: 10px;
        }
        nav label{
            padding: 0 30px;
            line-height: 100px;
        }
        nav label img{
            margin-top: 30px;
            width: 150px;
            height: auto;
        }
        button, select{
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }
        input{
            outline: none;
        }
        .English{
            background-color: transparent;
            padding-block:10px;
            padding-inline:20px;
            color:white;
            border: none;
            box-shadow: 0px 0px 2px white;
            border-radius: 5px;
        }
        .English i{
            padding-inline: 7px;
        }
        .sign-in{
            background-color: rgb(229, 9, 20);
            padding-block:10px;
            padding-inline:20px;
            color:white;
            border-radius: 5px;
            outline: none;
        }
        .container{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .main-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .main-content h1{
            font-size: 60px;
            font-weight: bolder;
            margin-top: 10px;
        }
        .main-content p{
            font-size: 24px;
            font-style: normal;
            margin-top: 20px;
        }
        form{
            margin-top: 30px;
        }
        form input{
            background-color: rgb(28, 26, 29);
            cursor: pointer;
            border: 1px solid white;
            border-radius: 5px;
            font-size: 24px;
            padding-inline:20px;
            padding-block:10px;
            width: 350px;
        }
        form button{
            background-color: rgb(229, 9, 20);
            cursor: pointer;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 24px;
            padding-inline:20px;
            padding-block:10px;
        }
        form button i{
            font-size: 24px;
            padding-left: 7px;
        }
        hr{
            margin-top: 40px;
            background-color: rgb(35, 35, 35);
            color:  rgb(35, 35, 35);
            width:100%;
            height: 10px;
        }
        .second-page{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content #video1,.content #video3{
            margin-top: 50px;
            height:700px;
            width: 720px;
        }
        .content #video2{
            height:540px;
            width: 520px;
        }
        .text1{
            padding-left: 45px;
            width: 100%;
        }
        .text1 h1{
            font-size: 50px;
            font-weight: bold;
        }
        .text1 p{
            margin-top: 20px;
            font-size: 22px;
        }
        .questions{
            width: 100%;
            min-height: 100vh;
            display: flex;
            text-align: center;
            flex-direction: column;
            padding-inline:30px;
            padding-block: 60px;
        }
        .questions h1{
            margin-bottom: 30px;
        }
        .questions h3{
            margin-top: 40px;
        }
        .query{
            display: flex;
            line-height: 50px;
            margin-top: 10px;
            background-color: rgb(45, 45, 45);
            width: 100%;
            height: 73px;
            padding-inline: 30px;
            padding-block:10px;
        }
        .query h2{
            width:100%;
        }
        .query i{
            font-size: 52px;
        }
        .hidden{
            margin-top: 1px;
            background-color: rgb(45, 45, 45);
            padding-inline: 30px;
            padding-block:10px;
        }
        .hidden p{
            margin-top: 10px;
        }
        .hidden{
            display: none;
        }
        .footer-section p{
            color: white;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .footer-section a{
            color: white;
            text-decoration-color: white;
            padding-block: 20px;
        }
        .footer{
            display: flex;
            justify-content: space-evenly;
        }
        .box{
            text-align: left;
        }
        .footer-section h3{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }